.chat-header {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Lighter border color */
    background-color: #25d366;; /* WhatsApp green */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* More subtle shadow */
    color: #fff; /* High contrast text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .btn-media-button{
    margin-right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease;
    background-color: transparent;
    box-shadow: none; 
    color: white;
  }

  .btn-media-button i {
    color: #fff;
    font-size: 20px;
  }


  .chat-header h4 {
    display: flex;
    align-items: center;
  }

  .chat-header span {
    font-size: 14px;
  }
  
  .chat-header span.online {
    color: #fff; /* WhatsApp green for online status */
  }
  
  .chat-header span.offline {
    color: #CCC; /* Subdued color for offline status */
  }

  .profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }


  .chat-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-height: 791px) {
    .btn-media-button{
      border-radius: 50%;
      padding: 10px 15px;
    }

    .btn-media-button i {
      font-size: 1.5em; /* Larger icons for better visibility and touch */
    }
  }


  .dark-mode .chat-header{
    background-color: #333;
  }
  
  
